@using NewParticleArray.Models

@{
    ViewBag.Title = "Home";
    List<Slide> Slides = (List<Slide>)ViewData.Model;
}
@section slideshowcss{
    @Styles.Render("~/Content/slideshowcss")
}
<div id="slideshow">
    <ul>
        @{
            if (Slides != null)
            {
                foreach (var slide in Slides)
                {
                    if (Slides.Count == 1)
                    {
                        <li style="background: black url('@slide.SlideLink') no-repeat center center; background-size: cover;" title="@slide.SlideTitle"></li>
                    }
                    else
                    {
                        double slideDelay = Math.Round(slide.ShowLength - (Slides.Count - (slide.SequenceNo - 1)) * (slide.ShowLength / Slides.Count), 2);
                        <li style="background: black url('@slide.SlideLink') no-repeat center center; background-size: cover; animation: fade @(slide.ShowLength)s @(slideDelay)s infinite;" title="@slide.SlideTitle"></li>
                    }
                }
            }
        }
    </ul>
</div>