@using NewParticleArray.Models

@{
    ViewBag.Title = GlobalVariable.Pages.Home.ToString();
    List<Slide> Slides = (List<Slide>)ViewData.Model;
}
@section slideshowcss{
    @Styles.Render("~/Content/slideshowcss")
}
<div id="slideshow">
    <ul>
        @{
            double showLength = 0;
            double.TryParse(System.Web.Configuration.WebConfigurationManager.AppSettings["HomeSlideshowLength"], out showLength);
            if (Slides != null && showLength > 0)
            {
                foreach (var slide in Slides)
                {
                    if (Slides.Count == 1)
                    {
                        <li style="background: black url('@slide.SlideLink') no-repeat center center; background-size: cover;" title="@slide.SlideTitle"></li>
                    }
                    else
                    {
                        double slideDelay = Math.Round(showLength - (Slides.Count - (slide.SequenceNo - 1)) * (showLength / Slides.Count), 2);
                        <li style="background: black url('@slide.SlideLink') no-repeat center center; background-size: cover; animation: fade @(showLength)s @(slideDelay)s infinite;" title="@slide.SlideTitle"></li>
                    }
                }
            }
        }
    </ul>
</div>