<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Particle,Array,Productions,Video,Editing,Special,Effect,Simon,Hunsberger,Resume">
    <meta name="description" content="Particle Array Productions: A showcase of my videos, interests, and excess of free time">
    <meta name="author" content="Simon Hunsberger">

    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="@Url.Content("~/og_image.jpg")" />
    <meta property="og:image:alt" content="Particle Array Productions logo" />
    <meta property="og:url" content="@(Request.Url.Scheme + System.Uri.SchemeDelimiter + Request.Url.Host)" />
    <meta property="og:description" content="Particle Array Productions: A showcase of my videos, interests, and excess of free time" />

    <title>@ViewBag.Title - Particle Array</title>
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/apple-touch-icon.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/favicon-16x16.png")">
    <link rel="manifest" href="@Url.Content("~/manifest.json")">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#ffffff">

    @Styles.Render("~/Content/maincss")
    @RenderSection("slideshowcss", required: false)
    @RenderSection("videocss", required: false)
    @RenderSection("formcss", required: false)
    @RenderSection("popupplayer", required: false)
</head>
<body>
    <div id="container">
        <header class="unselectable pointer">
            <div class="section">
                <div class="padding-container">
                    <div id="logo" title="Particle Array Productions">
                        <p>P<span class="hide-small"><span class="smaller">article</span> []</span><span class="hide-big">[]</span></p>
                    </div>
                    <input type="checkbox" id="menu-check" class="hide" />
                    <label for="menu-check" id="menu-expand" class="link hide-big" title="Menu">&equiv;</label>
                    <nav id="menu">
                        <ul>
                            @foreach (string page in Enum.GetNames(typeof(GlobalVariable.Pages)))
                            {
                            <li>
                                @if (IsCurrentPage(page))
                                {
                                <p class="nav-active">@page</p>
                                }
                                else
                                {
                                <a class="nav-text" href="@Url.Action("Index", page)" title="@page">@page</a>
                                }
                            </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="content">
            <div class="content-push"></div>
            @RenderBody()
            <div class="content-push"></div>
        </div>    
        <footer class="unselectable pointer">
            <div class="section">
                <div class="padding-container">
                    <p>&copy; @DateTime.Now.Year Simon Hunsberger</p>
                </div>
            </div>
        </footer>
    </div>
    @RenderSection("jqueryValidate", required: false)
</body>
</html>

@functions {
    public bool IsCurrentPage(string page)
    {
        return ViewBag.Title.ToLower().Contains(page.ToLower());
    }
}