@model NewParticleArray.Models.ContactEmail

@section formcss{
    @Styles.Render("~/Content/formcss")
}

<article>
    <h2>@(ViewBag.Title)</h2>
    <h3>@(ViewBag.Message)</h3>

    <div class="columns">
        <div class="full">
            <div class="image bottom-space" title="@(ViewBag.Title)">
                <div id="event-image-container" class="unselectable pointer">
                    <!-- change this back -->
                    <div id="@((!Model.Success) ? "event-image-mail-sent" : "event-image-mail-fail")">
                        <p>&#x2709;</p>
                    </div>
                </div>
            </div>
            @{
                if (!Model.Success)
                {
                    @Html.ActionLink("Try Again?", "Retry", Model, new { @class = "button" })
                }
            }
        </div>
    </div>
</article>